
/* Global styles */
body {
  font-family: 'Work Sans', sans-serif;
  color: #161314;
  margin: 0 auto;
}
main{
  margin: 3em 1.5em;
}
.logo{
  margin: 0 auto;
  padding: .75em .5em .5em 1.5em;
}
.full-nav{
  display: none;
}
header{
  background-color: #161314;
}
img{
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
a{
  font-weight: 500;
  color: #161314;
}
nav a{
  text-decoration: none;
  color: #b7bfab;
}
nav a:hover{
  color: #e29f00;
  font-weight: bolder;
}
nav a:active{
  font-weight: bolder;
  border-bottom: solid .25em #e29f00;
}
h1{
  font-size: 1.9em;
  font-weight: 500;
  border-top: .15em solid #e29f00;
  padding-top: .25em;
  line-height: 1.5em;
}
h2{
  font-size: 1.4em;
  font-weight: 300;
  padding-top: 1em;
}
h3{
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  color: #e29f00;
  padding-top: 1em;
}
p{
  line-height: 1.35em;
}
li{
  line-height: 1.35em;
  padding-bottom: .5em;
}
.hero{
  width: 100%;
}
nav li{
  list-style-type: none;
}
.schedule{
  padding: .05em;
  margin: 0;
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  background-color: #e29f00;
}
.schedule a{
  color: #fffced;
  text-decoration: none;
}
.schedule li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Footer */
cite{
  font-size: .75em;
  letter-spacing: .05em;
}
footer{
  background-image: url("images/pattern.png");
  background-repeat: repeat;
  color: #fffced;
  border-top: solid .45em #161314;
  padding-bottom: 2em;
}
footer a{
  color: #fffced;
}
footer li{
  list-style-type: none;
  color: #fffced;
}
.legal{
  font-size: .6em;
  text-align: center;
}
footer img{
  display: block;
  margin: 0 auto;
  padding: .75em;
}
.hours, .contact{
  margin: 0 auto;
  font-size: .75em;
  font-weight: 300;
  padding: 1em 2.5em;
}

/* Aside */
aside h3{
  border-top: solid .35em #e29f00;
  padding-top: .5em;
}
aside blockquote{
  padding-bottom: 1.5em;
}
aside h2{
  padding-left: 1.5em;
}

/* Scheduler */
button{
  color: #161314;
  font-weight: 200;
  font-size: .9em;
  text-transform: uppercase;
  border: solid .025em #e29f00;
  background-color: white;
  padding: .75em;
  margin-top: 1em;
  width: 100%;
}
button:hover{
  color: white;
  background-color: #e29f00;
}
label{
  display: block;
  padding-top: .75em;
  width: 100%;
}
input{
  background-color: lightgray;
  padding: 1em;
  border: none;
  width: 100%;
  display: inline;
}
.micro a{
  text-align: center;
  display: inline;
}
form{
  line-height: 1.5em;
}
form h2{
  border-top: 1em solid black;
}
.progress-bar h4{
  border-top: solid .2em lightgray;
  padding-top: 0;
  font-size: .8em;
  padding-bottom: 2em;
}
.progress-bar h3{
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 0;
}
select{
  font-family: inherit;
  background-color: lightgray;
  border-radius: 0em;
  border: none;
  display: inline-block;
  -webkit-border-radius: none;
  font-size: 1em;
  margin-top: .75em;
}
textarea{
  background-color: lightgray;
  border: none;
}
.typeable p{
  margin-top: 1em;
}

/* Services*/
.image-grid{
  display: flex;
  flex-wrap: wrap;
}
.image-grid img{
  width: 30%;
  max-height: 30%;
  padding: .75em

}
@media screen and (min-width: 800px) {
  .image-grid img{
    width: 10%;
    max-height: 30%;
  }
}

/* Index Map */
.locate{
  max-width: 100%;
  overflow: hidden;
  width: 900px;
  padding-bottom: 1em;
}
.locate a{
  padding-top: 0;
}

/* Index Buttons */
.click a{
  color: white;
  background-color: #e29f00;
}

/* Full Page Navigation */
/* Nav Button */
.nav-trigger{
  padding: 1em;
  cursor: pointer;
  z-index: 200;
  display: inline-block;
  float: right;
  border: .125em solid #fffced;
  margin: 2em 2.5em .5em .75em;
}
.nav-trigger:after{
  content:"Menu";
}
.nav-trigger.close:after{
  content: "Close X";
}
.nav-trigger.open{
  background-color: #161314;
  color: #fffced;
  transition: .3s all ease-in-out;
}
.nav-trigger.close{
  color: #fffced;
  z-index: 1000;
  position: relative;
}

/* Full */
nav{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: -100%;
  height: 100vh;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
nav.out{
  pointer-events: none;
}
nav.in{
  pointer-events: auto;
}
nav ul{
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-flow: column;
}
nav li{
  flex: 1;
  position: relative;
  background: rgba(22,19,20,.98);
  color: #fffced;
  text-transform: uppercase;
}
nav.in{
  top: 0;
  opacity: 1;
}
nav.in li{
  opacity: 1;
}
.nav-label {
  position: absolute;
  width: 100%;
  text-align: left;
  top: 50%;
  margin: 2.5em;
  border-top: solid .25em #e29f00;
  padding-top: .5em;
}


/* Media Queries */
@media screen and (min-width: 700px){
  .nav-trigger{
    display: none;
  }
  .nav-trigger.open{
    display: none;
  }
  .header-pt1{
    display: flex;
    height: 120px;
  }
  .logo{
    width: 35%;
  }
  .full-nav{
    width: 65%;
    color: #fffced;
    display: inline-block;
    justify-content: space-between;
    padding-top: 2em;
    margin-left: 1.5em;
  }
  .full-nav li a{
    color: #fffced;
    text-decoration: none;
  }
  .full-nav li{
    list-style-type: none;
    display: inline-block;
    justify-content: space-around;
  }
  .schedule li{
    text-align: left;
    line-height: 1.2em;
    width: 20%;
    padding: 0;
    margin: 0;
  }
  .full-nav a:hover{
    color: #e29f00;
    font-weight: bolder;
  }
  .full-nav a:active{
    font-weight: bolder;
    border-bottom: solid .25em #e29f00;
  }
}

/* Media Queries
@media all and (min-width: 640px) {
  .main-nav li{
    display: inline-block;
  }
  .main-nav li a {
    text-align: center;
  }
  .header-pt1{
    display: flex;
    background-color: #161314;
    height: 120px;
  }
  .logo{
    width: 38%;
    margin-left: 2.5em;
  }
  .main-nav{
    width: 62%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 875px){
  header{
    display: flex;
    background-color: #161314;
    height: 120px;
  }
  .logo{
    width: 38%;
    margin-left: 2.5em;
  }
  .schedule{
    width: 12%;
  }
  .schedule li{
    display: inline-block;
  }
  main-nav{
    width: 50%;
    padding-left: 5em;
  }
  .hero{
    height: 200px;
    width: 100%;

    background-position: center;
    overflow: hidden;
  }
}
