*{
  box-sizing: border-box;
}



/* Global styles */
body {
  font-family: 'Work Sans', sans-serif;
  color: #161314;
  margin: 0 auto;
  /* background-color: #f3fefa; */
}
.type{
  padding-left: 2.5em;
  padding-right: 2.5em;
  max-width: 1000px;
  margin: 0 auto;
}
.logo{
  margin-left: 2.5em;
  margin-top: 1em;
  width: 180px;
  padding-bottom: 1em;
}
.full-nav{
  display: none;
  justify-content: space-between;
}
header{
  background-color: #161314;
  box-shadow: .5px .5px .5px .5px #b7bfab;
}
a{
  font-weight: 500;
  color: #161314;
}
nav a{
  text-decoration: none;
  color: #b7bfab;
}
nav a:hover{
  color: #e29f00;
  font-weight: bolder;
}
nav a:active{
  font-weight: bolder;
  border-bottom: solid .25em #e29f00;
}
.full-nav ul{
  margin: .5em 0 0 5em;
  padding: 0;
}

h1{
  font-size: 1.4em;
  font-weight: 500;
  border-top: .15em solid #e29f00;
  padding-top: .5em;
  line-height: 1.4em;
  margin-top: 2.5em;
  /*color: #e29f00;*/
  max-width: 900px;
}
h2{
  font-size: 1.1em;
  font-weight: 300;
  padding-top: 1em;
  line-height: 1.5em;
}
h3{
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  color: #e29f00;
  padding-top: 1em;
  letter-spacing: .07em;
}
p{
  line-height: 1.3em;
  max-width: 900px;
  color: #2c2c2c;
}
cite{
  font-size: .8em;
  letter-spacing: .05em;
}
li{
  line-height: 1.3em;
  padding-bottom: .5em;
}
nav li{
  list-style-type: none;
}
.schedule{
  padding: .05em;
  margin: 0 auto;
  text-align: left;
  font-size: 1.15em;
  background-color: #e29f00;
  font-weight: bold;
}
.schedule a{
  text-decoration: none;
}
.schedule li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* Footer */
.lower-nav ul{
  margin: 0 auto;
  padding: 0;
  padding-right: 1em;
}
.lower-nav li{
  list-style-type: none;
  color: #fffced;
  text-align: left;
  font-size: 1em;
  margin-left: 2.5em;
  padding: .25em, .5em, .25em, 0;
}
footer{
  background-image: url("images/pattern.png");
  background-repeat: repeat;
  color: #fffced;
  padding-bottom: 2em;
}
.extra-info{
  display: flex;
  justify-content: space-between;
}
.lower-nav{
  width: 50%;
}
.contact{
  width: 50%;
}
footer a{
  color: #fffced;
}
footer li{
  list-style-type: none;
  color: #fffced;
}
.legal p{
  font-size: .8em;
  text-align: center;
  color: #fffced;
  margin: 0 auto;
}
footer img{
  display: block;
  margin-left: 2.5em;
  padding: 1.5em 0 1.5em 0;
  width: 150px;
}
.contact li, .contact a{
  color: #e29f00;
  padding: 0;
  line-height: 1.5em;
  margin: 0;
}
.contact ul{
  margin: 0 2em 0 0;
  padding: 0;
}
.lower-nav a:hover{
  color: #e29f00;
  font-weight: bolder;
}
.lower-nav a:active{
  font-weight: bolder;
  border-bottom: solid .25em #e29f00;
}
.lower-nav a{
  text-decoration: none;
}


@media screen and (min-width: 800px){
  .footer{
    display: flex;
    flex-direction: row;
  }
  .lower-nav{
    width: 45%;
    display: inline;
    margin-left: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .low-logo{
    margin-right: 0;
    padding-right: 0;
    width: 10%;
    display: inline-block;
  }
  .contact li{
    width: 20%;
    display: inline;
    margin: 0;
    padding-right: .7em;
    color: #fffced;
  }
  .contact a{
    color: #fffced;
  }
  .legal p{
    color: #e29f00;
    text-align: left;
    margin-left: 2.6em;
  }
  .lower-nav li{
    display: inline-block;
    margin: 0;
    padding-right: .7em;
   }
   .contact ul{
     display: inline-block;
   }
}




/* Index */
.intro{
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.hero{
  display: block;
  background-image: url(images/mechanic-customer.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
  opacity: .9;
  height: 650px;
  margin: 0;
  padding: 0;
}
.row{
  background-color: #e29f00;
}
.row a{
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
}
.row h2{
  text-align: center;
  color: white;
  padding: 0em .5em 1em .5em;
}
.big-buttons a{
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}
.big-buttons{
  margin-top: 4em;
  margin-bottom: 2em;
  padding: 0;
  width: 100%;
}

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img{
  margin: 0 auto;
  width: 35%;
  display: block;
  padding-top: 1.5em;
}
.col1, .col2, .col3, .col4, .col5, .col6{
  background-size: cover;
  background-position: center;
}
/*.color{
  background-color: #e29f00;
  opacity: 0.3;
}
.color:hover{
  opacity: 0.7;
}
*/
.col1{
  background-image: url(images/iphone.jpg);
  opacity: .9;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
}
.col2{
  background-image: url(images/engine-diagnostics.jpg);
  opacity: .9;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
}
.col3{
  background-image: url(images/tires.jpg);
  opacity: .9;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
}
.col4{
  background-image: url(images/repair-call.jpg);
  opacity: .9;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
}
.col5{
  background-image: url(images/technician-hood.jpg);
  opacity: .9;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
}
.col6{
  background-image: url(images/storefront.jpg);
  opacity: .9;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
}
.blended:hover{
  background-color: #e29f00;
  background-blend-mode: multiply;
}
/*.blended {
  background-image: url(face.jpg);
  background-color: #e29f00;
  background-blend-mode: multiply;
}
/*.row h2, .row img{
  opacity: 1.0;
}
.trans-color{
  background-color: #e29f00;
  height: 25px;
  width: 60px;
}
.trans-color .col6{
  background-image: url(images/repair-call.jpg);

}*/


@media screen and (min-width: 400px){
  .big-buttons{
    display: flex;
    flex-wrap: wrap;
  }
  .row{
    width: 50%;
  }
  .hero{
    height: 350px;
    width: 100%;
  }
  h4{
    font-size: 2.85em;
    color: #fffced;
    font-weight: 600;
    padding-top: 1.5em;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
    margin-left: .8em;
    opacity: .9;
    line-height: 1em;
    letter-spacing: .01em;
    margin-bottom: 0;
    padding-bottom: .15em;
  }
  h5{
    font-size: 1.1em;
    color: #e29f00;
    font-weight: 400;
    margin-top: 1em;
    text-align: left;
    padding-top: 1em;
    line-height: 0;
    margin-left: 2.2em;
    border-top: solid .25em #e29f00;
    max-width: 950px;
    margin-right: 1.25em;
    opacity: 1;
  }
  .hero2 h4{
    font-size: 2.85em;
    color: #fffced;
    font-weight: 600;
    padding-top: 1.5em;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
    margin-left: .8em;
    opacity: .9;
    line-height: 1em;
    letter-spacing: .01em;
    margin-bottom: 0;
    padding-bottom: .15em;
  }
  .hero2 h5{
    font-size: 1.1em;
    color: #e29f00;
    font-weight: 400;
    margin-top: 1em;
    text-align: left;
    padding-top: 1em;
    line-height: 0;
    margin-left: 2.2em;
    border-top: solid .25em #e29f00;
    max-width: 950px;
    margin-right: 1.25em;
    opacity: 1;
  }
}
@media screen and (min-width: 600px){
  .big-buttons{
    display: flex;
    flex-wrap: wrap;
  }
  .row{
    width: 33.333%;
  }
  .hero{
    height: 450px;
    width: 100%;
  }
  h4{
    font-size: 4.35em;
    color: #fffced;
    font-weight: 600;
    padding-top: 1.85em;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
    margin-left: .5em;
    opacity: .9;
    line-height: 1em;
    letter-spacing: .01em;
    margin-bottom: 0;
    padding-bottom: .15em;
  }
  h5{
    font-size: 1.7em;
    color: #e29f00;
    font-weight: 400;
    margin-top: 1em;
    text-align: left;
    padding-top: 1em;
    line-height: 0;
    margin-left: 1.5em;
    border-top: solid .25em #e29f00;
    max-width: 950px;
    margin-right: 1.25em;
    opacity: 1;
  }
  .hero2 h4{
    font-size: 4.35em;
    color: #fffced;
    font-weight: 600;
    padding-top: .5em;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
    margin-left: .5em;
    opacity: .9;
    line-height: 1em;
    letter-spacing: .01em;
    margin-bottom: 0;
    padding-bottom: .15em;
  }
  .hero2 h5{
    font-size: 1.4em;
    color: #e29f00;
    font-weight: 400;
    margin-top: .5em;
    text-align: left;
    padding-top: 1em;
    line-height: 0;
    margin-left: 1.5em;
    border-top: solid .25em #e29f00;
    max-width: 950px;
    margin-right: 1.25em;
    opacity: 1;
  }
}
/*@media screen and (min-width: 1150px){
  .big-buttons{
    display: flex;
    flex-wrap: nowrap;
  }
  .row{
    width: 16%;
  }
}*/
@media screen and (min-width: 800px){
  .hero{
    height: 650px;
    width: 100%;
  }
}
@media screen and (min-width: 1150px){
  .big-buttons{
    height: 500px;
  }
  .row{
    width: 33.333%;
    height: 250px;
  }
  .col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img{
    width: 25%;
  }
  h4{
    font-size: 6.5em;
    color: #fffced;
    font-weight: 600;
    padding-top: 1em;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
    margin-left: .3em;
    opacity: .9;
    line-height: 1em;
    letter-spacing: .02em;
    margin-bottom: 0;
    padding-bottom: .3em;
  }
  h5{
    font-size: 2.2em;
    color: #e29f00;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
    padding-top: 1em;
    line-height: 0;
    margin-left: .7em;
    border-top: solid .25em #e29f00;
    max-width: 950px;
    margin-right: 2.5em;
    opacity: 1;
  }
}



/* Index Map */

iframe{
  width: 100%;
  height: 300px;
}
blockquote{
  padding-left: none;
  margin-left: 0;
}
.monials{
  margin-top: 0;
  margin-bottom: 3em;
}

@media screen and (min-width: 800px){
  .monials{
    display: flex;
    justify-content: space-between;
  }
  .blockquote{
    width: 33%;
  }
}


/* Aside
aside h3{
  border-top: solid .35em #e29f00;
  padding-top: .5em;
}
aside blockquote{
  padding-bottom: 1.5em;
}
aside h2{
  padding-left: 1.5em;
}
*/





/* Scheduler */
/* Accordian Scheduler */
/*.js-tab-widget{
  padding: 1rem;
}*/

.tab-list {
  background: #e29f00;
  padding: 0;
  margin: 0;
}

.tab-item {
  display: block;
}

.tab-item[data-tab-active] {
  background: #161314;
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-link {
  color: #fff;
  display: block;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-panel {
  background: #f0f0f0;
  padding: 1rem;
}

.tab-panel h3 {
  margin-top: 0;
}
.tab-item h3{
  padding: 0;
  margin: 0;
}

.tab-panel[aria-hidden="true"] {
  display: none;
}

@media screen and (min-width: 800px) {
  .tab-item {
    display: inline-block;
  }

  .tab-link {
    display: inline-block;
  }

  .tab-link[data-tab-active]:after {
    content: '';
    display: inline-block;
    margin: auto;
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #036800;
  }
}


/*.tab-list {
  background: #e29f00;
  padding: 0;
  margin: 0;
}

.tab-item {
  display: block;
}

.tab-item[data-tab-active] {
  background: #036800;
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-link {
  color: #fff;
  display: block;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
  transition: all 150ms cubic-bezier(0.42, 0, 1, 1);
}

.tab-panel {
  background: #f0f0f0;
  padding: 1rem;
}

.tab-panel h2 {
  margin-top: 0;
}

.tab-panel[aria-hidden="true"] {
  display: none;
}

@media screen and (min-width: 800px) {
  .tab-item {
    display: inline-block;
  }

  .tab-link {
    display: inline-block;
  }

  .tab-link[data-tab-active]:after {
    content: '';
    display: inline-block;
    margin: auto;
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #036800;
  }
}*/
form{
  max-width: 600px;
}
button{
  color: #161314;
  font-weight: 200;
  font-size: .9em;
  text-transform: uppercase;
  border: none;
  background-color: #e29f00;
  padding: .25em;
  margin-top: 1em;
  width: 40%;
  max-width: 400px;
}
button:hover{
  color: #fffced;
  background-color: #2c2c2c;
}
label{
  display: inline;
  padding-top: 0;
  width: 100%;
  font-size: .9em;
}
.year, .make, .model, .submodel{
  font-family: 'Work Sans', sans-serif;
  border: 0;
  border-radius: 0;
  background-color: lightgray;
  width: 100%;
  font-size: .9em;
  margin-bottom: .5em;
  padding-bottom: .5em;
  padding-top: .1em;
}
.service-select label{
  display: inline-block;
}
.service-select input{
  width: 2%;
  display: inline;
}
input{
  background-color: lightgray;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  width: 100%;
  max-width: 800px;
}
input .box{
  display: inline;
}
input .box label{
  display: inline;
}
.micro a{
  text-align: center;
  display: inline;
}
form{
  line-height: 1.5em;
}
form h2{
  border-top: 1em solid black;
}
select{
  font-family: inherit;
  background-color: lightgray;
  border-radius: 0em;
  border: none;
  display: inline-block;
  -webkit-border-radius: none;
  font-size: .9em;
  margin-top: .75em;
}
textarea{
  background-color: lightgray;
  border: none;
  width: 100%;
}
.typeable p{
  margin-top: 1em;
}

/* Calendar */
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

custom styles
.calendar body {
  padding: 4em;
  background: lightgray;
  font-family: 'Work Sans', sans-serif;
}
.calendar label {
  display: block;
}
.calendar input {
  border: 0;
  border-radius: 0;
  background-color: lightgray;
  width: 100%;
  font-size: .9em;
}
input#dateofappt{
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}




/* Services*/
.image-grid{
  display: flex;
  flex-wrap: wrap;
  background-color: #e29f00;
  padding: 1.5em 2em;
}
.image-grid img{
  width: 50%;
  max-height: 30%;
  padding: .5em
}
.vehicle-list{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 2em;
}

@media screen and (min-width: 600px){
  .image-grid img{
    padding: .75em;
    width: 25%;
  }
}

@media screen and (min-width: 800px) {
  .image-grid img{
    width: 12.5%;
    height: 100px;
  }
}

.accordion{
  margin: 0 auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  background-color: lightgray;
}
.accordion li{
  list-style:none;
  color: #161314;
  margin: 0 auto;
  max-width: 950px;
  width: 90%;
}
.summary li{
  margin: 0 auto;
  padding-left: 0;
  padding-right:0;
}
.summary ul{
  margin: 0 auto;
  padding-left: 0;
  padding-right:0;
}
.summary h3{
  padding-bottom: 1em;
}
.accordion li label{
  padding: 10px;
  display:block;
  background-color:#2c2c2c;
  color: #fffced;
  cursor: pointer;
}

/*Hide the radio buttons*/
.accordion label + input[type='radio']{
  display:none;
}
  /*background-image: url("images/call.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

/* hide content by default */
.accordion .content {
  max-height: 0;
  overflow: hidden;
  display: block;
}
.accordion{
  transition: .5s ease;
}

.accordion label + input[type='radio']:checked + .content {
  max-height: 50em;
  padding:.5em;
  overflow: visible;
  transition: .7s max-height ease;
}





/* Full Page Navigation */
/* Nav Button */
.nav-trigger{
  padding: 1em;
  cursor: pointer;
  z-index: 200;
  display: inline-block;
  float: right;
  border: .125em solid #fffced;
  margin: 2em 2.5em .5em .75em;
}
.nav-trigger:after{
  content:"Menu";
}
.nav-trigger.close:after{
  content: "X";
}
.nav-trigger.open{
  background-color: #161314;
  color: #fffced;
  transition: .3s all ease-in-out;
}
.nav-trigger.close{
  color: #fffced;
  z-index: 1000;
  position: relative;
}
.schedule h3{
  padding: 0;
  margin: 0;
  color: #fffced;
}

/* Full */
nav{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: -100%;
  height: 100vh;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
nav.out{
  pointer-events: none;
}
nav.in{
  pointer-events: auto;
}
nav ul{
  display: block;
  padding: 0em;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-flow: column;
}
nav li{
  flex: 1;
  position: relative;
  background: rgba(22,19,20,.98);
  color: #fffced;
  text-transform: uppercase;
}
nav.in{
  top: 0;
  opacity: 1;
}
nav.in li{
  opacity: 1;
  padding-top: 0;
}
.nav-label {
  position: absolute;
  width: 70%;
  text-align: left;
  top: 45%;
  margin-left: 2.5em;
  margin-top: 2.5em;
  border-top: solid .25em #e29f00;
  padding-top: .5em;
  max-width: 325px;
  letter-spacing: .07em;
}



/* About Page
.why{
/*  background-color: #b7bfab;
  color: #fffced;
  padding: 1em;
  margin-top: 2.5em;
  margin: 0 auto;
  padding-bottom: 2em;
}
/*.why h3{
  color: #161314;
  margin-left: 1.75em;
  font-weight: bolder;
}*/
.why li{
  list-style-type: square;
}
.why ul{
  padding-left: 1.25em;
  margin-bottom: 3.5em;
}

/*.tech-pic img{
  background-size: cover;
  background-position: center;
  max-width: 100%;
}
.tech-pic{
  padding: 0;
  margin: 0;
  height: 300px;
}



/* Contact Page */
.hero2{
  display: block;
  background-image: url(images/cars.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  background-color: #2c2c2c;
  background-blend-mode: multiply;
  opacity: .9;
  height: 300px;
  margin: 0;
  padding: 0;
}


/* Media Queries */
@media screen and (min-width: 850px){
  nav ul{
    display: block;
    padding: 0em;
    margin: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-flow: column;
  }
  .promo{
    display: flex;
  }
  .coup1{
    width: 50%;
  }
  .coup2{
    width: 50%;
  }
  /*.bottom{
    display: flex;
  }
  .tech-pic{
    max-width: 50%;
  }
  .why{
    width: 50%;
  }*/
}
@media screen and (min-width: 1100px){
  .header-pt1{
    height: 90px;
    display: flex;
  }
  .nav-trigger{
    display: none;
  }
  .nav-trigger.open{
    display: none;
  }
  .full-nav{
    width: 60%;
    color: #fffced;
    padding-top: 2em;
    display: inline;
  }
  .logo{
    width: 180px;
  }
  .schedule a{
    padding: 0;
    margin: 0;
  }
  .schedule li{
    text-align: left;
    line-height: 1.2em;
    width: 25%;
    display: inline;
  }
  .schedule ul{
    padding: .5em 2.5em .5em 2em;
  }
  .full-nav li a{
    color: #fffced;
    text-decoration: none;
  }
  .full-nav li{
    list-style-type: none;
    padding: 0em 2em 0em 2em;
  }
  .full-nav ul{
    display: flex;
    padding-bottom: 3em;
  }
  .full-nav a:hover{
    color: #e29f00;
    font-weight: bolder;
  }
  .full-nav a:active{
    font-weight: bolder;
    border-bottom: solid .25em #e29f00;
  }
}

/* Promotions page */
.coup1{
  background-color: #b7bfab;
  padding: .5em 2.5em 2em 2.5em;
}
.coup1 cite, .coup2 cite{
  color: #fffced;
}
.coup1 h2, .coup1 p{
  color:
}
.coup2{
  background-color: #e29f00;
  padding: .5em 2.5em 2em 2.5em;
}
.tag h2{
  margin-bottom: 2em;
}


/** Styles for the Style guide layout **/
.color-behind{
  padding: 2em;
  margin: 0 auto;
  background-color: #f0f0f0;
  max-width: 950px;
}
.color-behind h1{
  padding-top: 0;
  margin-top: 0;
}
.sg h3{
  padding-bottom: 1em;
  margin-bottom: 0;
  margin-top: 4em;
}
.sg header h3{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.sg-color li{
  width: 100%;
  height: 150px;
  padding: 1em;
  margin: 0 auto;
  display: block;
}
.sg-color ul{
  list-style: none;
  margin: .5em auto;
  padding: 0;
  margin-bottom: 3em;
}
.yellow{
  background-color: #e29f00;
}
.gray{
  background-color: #b7bfab;
}
.white{
  background-color: #fffced;
  border: .05em solid #b7bfab;
}
.black{
  background-color: #161314;
  color: #fffced;
}
.yellow:hover{
  background-color: #2c2c2c;
  opacity: .5;
  color: #fffced;
}
.black:hover{
  background-color: #2c2c2c;
  opacity: .5;
  color: #fffced;
}
.gray:hover{
  background-color: #2c2c2c;
  opacity: .5;
  color: #fffced;
}
.white:hover{
  background-color: #2c2c2c;
  opacity: .5;
  color: #fffced;
}
@media screen and (min-width: 700px) {
  .sg-color ul{
    display: flex;
  }
  .sg-color li{
    width: 30%;
    height: 300px;
  }
}
.sg .big-buttons{
  margin-top: 0;
  padding-top: 1em;
  margin-bottom: 3em;
}
.sg .hero{
  margin-bottom: 4em;
}
